*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: azure;
    color: dimgrey;
}
.container{
    background-color: rgb(41, 40, 40);
    height: 568px;
    width: 375px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(7, 1fr);

}
input{
    background-color: rgb(41, 40, 40);
    font-size: 48px;
    text-align: right;
    border: none;
    outline: none;
    padding-top: 60px;
    color: white;
    grid-row: 1/3;
    grid-column: 1/5;
}
button{
    border: none;
    margin: 5px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    
}
button:hover{
    opacity: 0.8;
}
.btn-orange{
    background-color: darkorange;
}
.equal{
    grid-row: 6/8;
    grid-column: 4/5;
}
.zero{
    grid-row: 7/8;
    grid-column: 1/3;
}
.btn-gray{
    background-color: rgb(134, 130, 130);
}